@model TreeForum.Models.Discussion

@{
    ViewData["Title"] = "GetDiscussion";

}



<div class="discussion-post container mt-5 mb-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title mb-4">@Model.Title</h1>

            <div class="mb-3">
                <span class="card-text text-muted">Posted By: <span>@Model.ApplicationUser.Name</span></span>
                <span class="card-text text-muted ms-3">Posted On: <span>@Model.CreateDate</span></span>
            </div>

            <div class="discussion-content mb-4 border p-3">
                <p>@Model.Content</p>
            </div>
            <div class="discussion-image mb-4">
                @if (Model.ImageFilename != "default.jpg")
                {
                    string imageUrl = Url.Content("/images/" + Model.ImageFilename);
                    <img src="@imageUrl" class="img-fluid thumbnail pt-3 pb-1" alt="@Model.Title" />
                }
            </div>

        </div>
    </div>
    <div class="new-comment-button text-center my-4 d-flex justify-content-between align-items-center">
        @{
            int numComments = 0;
            if (Model.Comments != null)
            {
                numComments = Model.Comments.Count;
            }
        }

        <h2>Comments (@numComments)</h2>        
        <a class="btn btn-success" asp-area="" asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId">
            Add New Comment
        </a>
    </div>


    <ul class="list-unstyled">
        @if (Model.Comments != null && Model.Comments.Any())
        {
            foreach (var comment in Model.Comments)
            {
                <li class="mb-4" >
                    <div class="card p-4 getDiscussion_post">
                        <p class="d-flex justify-content-between">
                            @if (comment.ApplicationUser != null)
                            {
                                <strong>@comment.ApplicationUser.Name</strong>
                            }
                            <span>Comment Date: @comment.CreateDate</span>
                        </p>
                        <p>@comment.Content </p>
                    </div>
                </li>
            }
            <div class="d-flex justify-content-end">
                <a class="btn btn-success " asp-area="" asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId">
                    Add New Comment
                </a>
            </div>
        }
    </ul>
</div>
