@model TreeForum.Models.Discussion

@{
    ViewData["Title"] = "GetDiscussion";
    var imgString = "../../images/" + Model.ImageFilename;

}
@functions {
    public string GenerateRandomUsername()
    {
        return "User" + Guid.NewGuid().ToString("N").Substring(0, 8);
    }
}



<div class="discussion-post container mt-5 getDiscussion_post">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title mb-4">@Model.Title</h1>
            <p class="card-text text-muted">Posted on: <span>@Model.CreateDate</span></p>
            <div class="discussion-content mb-4">
                <p>@Model.Content</p>
            </div>
            <div class="discussion-image mb-4">
                @if (!string.IsNullOrEmpty(Model.ImageFilename))
                {
                    string imageUrl = Url.Content("/images/" + Model.ImageFilename);
                    <img src="@imageUrl" class="img-fluid thumbnail pt-3 pb-1" alt="@Model.Title" />
                }
            </div>

        </div>
    </div>
    <div class="new-comment-button text-center my-4 d-flex justify-content-between align-items-center">
        @{
            int numComments = 0;
            if (Model.Comments != null)
            {
                numComments = Model.Comments.Count;
            }
        }

        <h2>Comments (@numComments)</h2>        
        <a class="btn btn-success" asp-area="" asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId">
            Add New Comment
        </a>
    </div>


    <ul class="list-unstyled">
        @if (Model.Comments != null)
        {
            foreach (var comment in Model.Comments)
            {
                <li class="mb-4">
                    <div class="card p-4">
                        <p><strong>@GenerateRandomUsername()</strong> Comment Date: @comment.CreateDate</p>
                        <p>@comment.Content </p>
                    </div>
                </li>
            }
        }
    </ul>
</div>
