@{
    ViewData["Title"] = "Home Page";
}
@functions {
    public string GenerateRandomUsername()
    {
        return "User" + Guid.NewGuid().ToString("N").Substring(0, 8);
    }
}
<h1 class="fw-bold mt-5 text-center">Tree Discussion</h1>

<div class="text-center mb-4">
    The Internet's source for all tree knowledge <br />
    Powered by tree huggers everywhere.
</div>

<a class="btn btn-primary" asp-area="" asp-controller="Discussions" asp-action="Create">Create New Discussion</a>


<div class="container min-vh-100 p-4">
    <main class="d-flex flex-column align-items-center gap-5">
        <ul class="list-unstyled w-100">
            @foreach (var item in Model)
            {
                string imageUrl = Url.Content("/images/" + item.ImageFilename);
                <li key="@item.DiscussionId" class="mb-4">
                    <div class="card shadow-sm w-100">
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <a href="@Url.Action("GetDiscussion", "Home", new { id = item.DiscussionId })">
                                <img src="@imageUrl" class="card-img-top img-fluid thumbnail" alt="@item.Title" />
                            </a>
                            <h5 class="card-title mb-0">@item.Title</h5>
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <p>@GenerateRandomUsername()</p>
                            <h6 class="card-subtitle mb-0 text-muted">@item.CreateDate</h6>
                            @{
                                int numComments = 0;
                                if (item.Comments != null)
                                {
                                    numComments = item.Comments.Count;
                                }
                            }
                            <p class="d-flex align-items-center">
                                <i class="fa-regular fa-comment me-2"></i>
                                <span class="text-muted">@numComments</span> 
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </main>
</div>
