@{
    ViewData["Title"] = "Home Page";


	//injecting user manager and sign in manager
    @using Microsoft.AspNetCore.Identity
    @using TreeForum.Data


    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
}
@functions {
    public string GenerateRandomUsername()
    {
        return "User" + Guid.NewGuid().ToString("N").Substring(0, 8);
    }
}




<h1 class="fw-bold mt-5 text-center">Tree Discussion</h1>

<div class="text-center mb-4">
    The Internet's source for all tree knowledge <br />
    Powered by tree huggers everywhere.
</div>

@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-success ms-4" asp-area="" asp-controller="Home" asp-action="Create">Create New Discussion</a>
}
else{
	<a class="btn btn-success ms-4" asp-area="Identity" asp-page="/Account/Login">Login to Create New Discussion</a>
	<a class="btn btn-success ms-4" asp-area="Identity" asp-page="/Account/Register">Register to Create New Discussion</a>
}


<div class="container min-vh-100 p-4">
    <main class="d-flex flex-column align-items-center gap-5">
        <ul class="list-unstyled w-100">
            @foreach (var item in Model)
            {
                <li key="@item.DiscussionId" class="mb-4">
                        <div class="card shadow-sm w-100 card_home">
                            <div class="container">
                                <div class="row">

                                    @* user image *@
                                    <div class="col-4">
                                        @if (item.ApplicationUser.ImageFilename == null || item.ApplicationUser.ImageFilename == "")
                                        {
                                            <img src="~/images/default_user.jpg" class="img-fluid thumbnail_user pt-3 pb-1 ms-3" alt="@item.Title" />
                                        }
                                        else
                                        {
                                            string imageUrl = Url.Content("/profile_img/" + item.ApplicationUser.ImageFilename);
                                            <img src="@imageUrl" class="img-fluid thumbnail_user pt-3 pb-1 ms-3" alt="@imageUrl" />

                                        }

                                    </div>

                                    @* discussion title *@
                                    <div class="col-4">
                                    <a class="text-decoration-none" href="@Url.Action("GetDiscussion", "Home", new { id = item.DiscussionId })" style="color: inherit;">
                                            <h1 class="card-title mb-0 mt-5">@item.Title</h1>
                                        </a>
                                    </div>

                                @* discussion image thumbnail *@
                                    <div class="col-4">
                                        @if(item.ImageFilename != null){
                                            @if (item.ImageFilename != "default.jpg")
                                            {
                                                string imageUrl = Url.Content("/images/" + item.ImageFilename);
                                                <img src="@imageUrl" class="img-fluid thumbnail pt-3 pb-1" alt="@item.Title" />
                                            }
                                            else
                                            {
                                                <img src="~/images/default_tree.jpg" class="img-fluid thumbnail pt-3 pb-1" alt="@item.Title" />
                                            }
                                        }

                                    </div>
                                </div>
                                <div class="row">
                                    @* profile name  *@
                                    <div class="col-4">
                                    <a class="text-decoration-none" href="@Url.Action("Profile", "Home", new { id = item.ApplicationUser.Name })" style="color: inherit;">
                                            <p class=" profile-title ">@item.ApplicationUser.Name</p>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <p class="d-flex align-items-center">
                                            <i class="fa fa-pencil-alt"></i>
                                            <span class="card-subtitle mb-0 text-muted">@item.CreateDate</span>
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        @{
                                            int numComments = 0;
                                            if (item.Comments != null)
                                            {
                                                numComments = item.Comments.Count;
                                            }
                                        }
                                        <p class="d-flex align-items-center">
                                            <i class="fa-regular fa-comment me-2"></i>
                                            <span class="text-muted">@numComments</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </li>
            }
        </ul>
    </main>
</div>
